# Precipitation data

In [155]:
import pandas as pd

filename = 'C:/Users/Bender/Desktop/Mapas_ERA/Anexos_Final/Anexo A series IDEAM bruta/precipitacion_sup.csv'

letra = "P"

columnas = ['fecha',"21210150",
"21215160",
"21210130"]

df_precip_sup = pd.read_csv(filename, usecols = columnas)

df_precip_sup

       21210130  21210150  21215160       fecha
0           NaN       NaN       NaN  1950-01-01
1           NaN       NaN       NaN  1950-01-02
2           NaN       NaN       NaN  1950-01-03
3           NaN       NaN       NaN  1950-01-04
4           NaN       NaN       NaN  1950-01-05
...         ...       ...       ...         ...
26293       NaN       NaN       NaN  2021-12-27
26294       NaN       NaN       NaN  2021-12-28
26295       NaN       NaN       NaN  2021-12-29
26296       NaN       NaN       NaN  2021-12-30
26297       NaN       NaN       NaN  2021-12-31

[26298 rows x 4 columns]

In [80]:
#Transform column 'fecha' to_datetime
df_precip_sup.fecha = pd.to_datetime(df_precip_sup.fecha)
df_precip_sup

       21210130  21210150  21215160      fecha
0           NaN       NaN       NaN 1950-01-01
1           NaN       NaN       NaN 1950-01-02
2           NaN       NaN       NaN 1950-01-03
3           NaN       NaN       NaN 1950-01-04
4           NaN       NaN       NaN 1950-01-05
...         ...       ...       ...        ...
26293       NaN       NaN       NaN 2021-12-27
26294       NaN       NaN       NaN 2021-12-28
26295       NaN       NaN       NaN 2021-12-29
26296       NaN       NaN       NaN 2021-12-30
26297       NaN       NaN       NaN 2021-12-31

[26298 rows x 4 columns]

In [13]:
# create a columns dataframe? we don't need this
# check the "columnas" list
df_estaciones = pd.DataFrame(df_precip_sup.columns, columns=['Estaciones'])
df_estaciones

  Estaciones
0   21210130
1   21210150
2   21215160
3      fecha

## Precipitation stations information
Adds the location (latitude and longitude) of the stations

In [125]:
filename_info = 'C:/Users/Bender/Desktop/Mapas_ERA/Isoyetas/clima_isoyetas_sup.csv'

df_precip_sup_info = pd.read_csv(filename_info)

df_precip_sup_info

,CODIGO,nombre,CATEGORIA,altitud,latitud,longitud,MUNICIPIO,SUBZONA_HIDROGRAFICA,1,2,3,4,5,6,7,8,9,10,11,12
0,21215190,CAJAMARCA - AUT [21215190],Clim�tica Principal,2530,4.435667,-75.500361,Cajamarca,R�o Coello,41.165000,32.510000,45.990000,64.850000,75.710000,66.719048,49.057143,37.166667,33.695238,59.604762,57.895238,47.130000
1,21215180,BATALLON ROOKE - AUT [21215180],Clim�tica Principal,1323,4.418389,-75.248667,Ibagu�,R�o Coello,52.400000,29.560000,66.565000,84.020000,98.215000,53.285714,27.738095,20.938095,34.852381,71.047619,45.071429,22.675000
2,21215160,CERROS NOROCCIDENTALES - AUT [21215160],Clim�tica Principal,1946,4.470361,-75.243861,Ibagu�,R�o Coello,75.735000,79.375000,81.220000,82.085000,83.050000,76.504762,42.528571,66.719048,99.309524,115.504762,130.585714,93.525000
3,21250460,VENADILLO [21250460],Pluviom�trica,430,4.663806,-74.917750,Venadillo,R�o Lagunilla y Otros Directos al Magdalena,66.100000,57.350000,123.950000,175.850000,194.700000,90.809524,75.095238,58.714286,100.476191,136.809524,85.000000,65.000000
4,21245040,AEROPUERTO PERALES [21245040],Sin�ptica Secundaria,943,4.424139,-75.139417,Ibagu�,R�o Op�a,87.330000,91.460000,155.090000,214.800000,194.280000,81.747619,57.947619,63.052381,105.252381,182.742857,164.109524,117.675000
5,21245010,PERALES HATO OPIA [21245010],Clim�tica Ordinaria,826,4.429667,-75.200522,Ibagu�,R�o Totare,55.305000,67.775000,129.565000,185.540000,166.480000,80.933333,66.452381,58.347619,107.033333,125.547619,103.204762,80.610000
6,21215080,CHICORAL [21215080],Clim�tica Ordinaria,432,4.231528,-74.995361,Espinal,R�o Coello,63.460000,67.800000,162.695000,194.900000,160.315000,78.928571,50.409524,39.042857,85.661905,138.547619,126.828571,104.540000
7,22050100,GUAYABOS LOS [22050100],Pluviom�trica,330,4.656556,-75.096944,Coyaima,R�o Totare,82.140000,94.440000,147.750000,192.615000,137.790000,60.200000,54.471429,25.923810,64.342857,135.847619,132.971429,116.795000
8,23025040,ALBANIA [23025040],Clim�tica Ordinaria,788,5.285697,-74.902639,Mariquita,R�o Guarin�,236.840000,173.885000,295.225000,328.875000,311.655000,142.500000,100.728571,148.528571,210.990476,454.557143,493.342857,327.310000
9,23010080,IDEMA-HONDA [23010080],Pluviom�trica,2508,5.201417,-74.749583,Honda,R�o Gual�,42.795000,47.295000,83.310000,132.545000,138.575000,41.600000,34.238095,60.685714,94.919048,150.057143,141.166667,61.445000
10,23010020,EDEN EL [23010020],Pluviom�trica,1670,5.158389,-75.048917,Fresno,R�o Gual�,144.550000,151.310000,226.215000,249.385000,254.615000,108.885714,92.866667,124.009524,197.195238,210.619048,241.147619,191.720000
11,21250450,POTOSI HACIENDA [21250450],Pluviom�trica,389,5.053028,-74.882472,Armero (Guayabal),R�o Lagunilla y Otros Directos al Magdalena,103.040000,105.750000,144.630000,230.600000,214.285000,88.000000,61.609524,97.238095,122.476191,209.561905,165.904762,99.740000
12,21255120,VILLAHERMOSA [21255120],Clim�tica Ordinaria,269,5.016853,-75.117611,Villahermosa,R�o Lagunilla y Otros Directos al Magdalena,154.655000,209.890000,252.485000,258.185000,286.640000,134.323810,90.257143,108.404762,179.280952,285.842857,273.990476,200.865000
13,21255090,ARMERO GRANJA [21255090],Clim�tica Principal,321,5.000000,-74.899992,Armero (Guayabal),R�o Lagunilla y Otros Directos al Magdalena,86.880000,97.075000,150.090000,223.865000,230.410000,93.195238,70.504762,91.176190,127.385714,190.480952,149.466667,95.095000
14,21255080,SALTO EL [21255080],Clim�tica Principal,1139,4.783750,-74.767944,Ambalema,R�o Coello,53.515000,64.375000,106.730000,168.275000,160.465000,56.576190,37.447619,51.804762,84.828571,138.690476,114.938095,61.145000
15,21250480,SANTA BARBARA [21250480],Pluviom�trica,3371,4.906611,-75.220194,Murillo,R�o Lagunilla y Otros Directos al Magdalena,43.300000,50.450000,98.750000,142.420000,116.250000,72.619048,51.857143,45.809524,80.347619,156.547619,106.866667,65.000000
16,21250170,BOQUERON [21250170],Pluviom�trica,3740,4.903889,-75.252778,Villahermosa,R�o Lagunilla y Otros Directos al Magdalena,54.500000,91.400000,119.690000,172.885000,163.495000,69.142857,37.790476,32.971429,75.309524,108.666667,92.857143,79.800000
17,21250050,ALTO DEL OSO [21250050],Pluviom�trica,3150,4.850000,-75.250000,Murillo,R�o Lagunilla y Otros Directos al Magdalena,34.040000,45.575000,181.830000,175.395000,203.205000,147.857143,108.980952,88.823810,93.466667,139.695238,134.347619,70.205000
18,21255170,MURILLO - AUT [21255170],Clim�tica Principal,323,4.870556,-75.173278,Murillo,R�o Lagunilla y Otros Directos al Magdalena,48.735000,67.755000,122.415000,146.920000,179.690000,108.385714,67.790476,55.347619,107.457143,139.428571,133.938095,90.545000
19,21255140,QUINTA LA [21255140],Clim�tica Principal,429,4.821500,-74.920639,L�rida,R�o Lagunilla y Otros Directos al Magdalena,50.955000,52.690000,115.035000,151.940000,144.275000,83.142857,55.114286,66.838095,100.885714,124.804762,89.847619,46.530000
20,21210260,SILENCIO EL [21210260],Pluviogr�fica,2500,4.633333,-75.383333,Ibagu�,R�o Coello,34.610000,40.595000,82.760000,122.860000,158.210000,114.104762,81.076190,77.914286,112.409524,111.066667,88.566667,35.655000
21,21210240,INTERLAKEN [21210240],Pluviom�trica,1174,4.421028,-75.220556,Ibagu�,R�o Coello,128.110000,111.365000,206.680000,248.855000,217.890000,132.357143,87.490476,76.395238,144.871429,180.885714,191.014286,153.345000
22,21210230,CRUZ ROJA [21210230],Pluviom�trica,1176,4.429722,-75.207750,Ibagu�,R�o Totare,128.575000,123.380000,164.475000,221.690000,178.085000,81.485714,65.852381,44.128571,93.519048,173.209524,190.676190,148.360000
23,21210220,PALMAR EL [21210220],Pluviogr�fica,2200,4.580111,-75.325667,Ibagu�,R�o Coello,35.250000,51.690000,101.010000,137.020000,145.650000,130.933333,100.266667,93.723810,110.947619,112.919048,83.080952,50.665000
24,21210200,BUENOS AIRES [21210200],Pluviom�trica,728,4.335139,-75.073444,Ibagu�,R�o Coello,63.455000,68.150000,155.255000,228.430000,193.800000,93.723810,60.357143,55.380952,121.033333,179.738095,128.204762,82.825000
25,21210180,TOCHE [21210180],Pluviogr�fica,1991,4.519500,-75.409833,Ibagu�,R�o Coello,34.800000,54.300000,95.850000,90.250000,159.835000,117.619048,115.809524,81.285714,94.428571,130.142857,138.476191,85.955000
26,21210170,PALOGRANDE HACIENDA [21210170],Pluviom�trica,2212,4.331889,-75.401333,Ibagu�,R�o Coello,45.120000,64.435000,134.845000,137.810000,157.205000,122.157143,104.004762,72.685714,109.442857,115.461905,94.704762,61.400000
27,21210150,CASCADA LA [21210150],Pluviom�trica,3280,4.284389,-75.542333,Cajamarca,R�o Coello,33.850000,47.750000,69.000000,96.725000,89.150000,61.238095,44.285714,32.095238,45.047619,52.000000,72.666667,50.500000
28,21210140,PLAN EL [21210140],Pluviom�trica,388,4.383750,-75.496861,Cajamarca,R�o Coello,47.195000,37.000000,77.210000,94.625000,104.625000,79.833333,55.190476,46.176190,63.666667,63.438095,66.961905,52.920000
29,21210130,DELICIAS LAS [21210130],Pluviom�trica,295,4.380333,-75.511750,Cajamarca,R�o Coello,38.600000,49.400000,101.650000,127.380000,132.550000,98.809524,83.966667,59.519048,84.380952,107.195238,82.809524,67.995000
30,21210120,ESMERALDA LA [21210120],Pluviogr�fica,1965,4.490917,-75.239417,Ibagu�,R�o Coello,99.860000,134.025000,188.795000,182.785000,167.580000,109.076190,106.157143,116.728571,121.442857,202.980952,152.476191,119.575000
31,21210110,PLACER EL [21210110],Pluviogr�fica,2170,4.520944,-75.277889,Ibagu�,R�o Coello,73.265000,87.890000,184.370000,204.390000,234.915000,175.638095,149.395238,143.185714,170.933333,206.442857,150.104762,106.100000
32,21210080,SECRETO EL [21210080],Pluviogr�fica,1482,4.494278,-75.289944,Ibagu�,R�o Coello,72.975000,92.725000,170.900000,195.540000,232.385000,151.890476,133.066667,113.638095,162.580952,153.523809,135.076190,95.855000
33,21210030,PASTALES [21210030],Pluviogr�fica,1602,4.511056,-75.300833,Ibagu�,R�o Coello,50.825000,105.080000,160.235000,183.855000,206.275000,159.347619,119.176191,119.419048,148.833333,147.528571,101.619048,89.285000
34,21210020,JUNTAS LAS [21210020],Pluviogr�fica,1765,4.556306,-75.321639,Ibagu�,R�o Coello,39.100000,52.030000,111.290000,133.320000,155.955000,121.995238,106.704762,97.914286,121.309524,113.452381,76.738095,51.645000
35,21250500,LIBANO [21250500],Pluviom�trica,1649,4.921889,-75.075861,L�bano,R�o Lagunilla y Otros Directos al Magdalena,146.205000,164.110000,229.490000,264.110000,267.170000,120.471429,105.866667,94.228571,162.385714,235.452381,192.300000,152.905000
36,21250100,ESTRELLA LA [21250100],Pluviom�trica,331,4.761833,-74.898694,Venadillo,R�o Lagunilla y Otros Directos al Magdalena,63.850000,66.700000,119.700000,202.100000,208.085000,82.047619,71.790476,75.761905,95.666667,156.333333,116.761905,60.450000
37,21250070,SIERRA LA [21250070],Pluviom�trica,472,4.800111,-74.935694,L�rida,R�o Lagunilla y Otros Directos al Magdalena,73.075000,82.570000,123.135000,198.085000,207.495000,97.061905,74.142857,74.366667,119.890476,149.723809,102.190476,77.710000
38,21240110,BODEGA LA [21240110],Pluviom�trica,2670,4.735611,-75.138917,Santa Isabel,R�o Lagunilla y Otros Directos al Magdalena,73.855000,88.190000,125.375000,145.480000,147.210000,78.214286,64.361905,69.457143,122.928571,122.995238,132.333333,98.100000
39,21255110,SANTA ISABEL [21255110],Clim�tica Ordinaria,2817,4.701750,-75.131833,Santa Isabel,R�o Totare,66.940000,86.440000,145.545000,186.400000,181.490000,96.847619,70.076190,70.990476,117.561905,165.200000,149.700000,86.345000
40,21240070,ANZOATEGUI [21240070],Pluviom�trica,1814,4.637500,-75.090000,Anzo�tegui,R�o Totare,120.685000,124.530000,182.260000,200.200000,202.990000,124.714286,85.671429,66.666667,136.000000,217.523809,213.476191,136.850000
41,21240030,SAN JUAN DE CHINA [21240030],Pluviom�trica,1980,4.542444,-75.075389,Ibagu�,R�o Totare,71.815000,112.185000,139.040000,188.490000,167.965000,85.690476,52.061905,72.366667,131.947619,174.628571,125.580952,100.900000
42,21220050,ACEITUNO EL [21220050],Pluviom�trica,680,4.353444,-75.053056,Ibagu�,R�o Coello,39.100000,31.350000,98.500000,92.000000,108.250000,54.000000,37.333333,26.333333,69.809524,83.571429,71.666667,41.650000
43,22075050,PARAMO DE YERBABUENA - AUT [22075050],Clim�tica Principal,3394,4.075806,-75.700833,Roncesvalles,R�o Cucuana,21.740000,21.235000,47.620000,66.465000,57.490000,42.557143,48.261905,28.823810,28.195238,40.719048,52.466667,32.715000
44,21210190,RESACA LA [21210190],Pluviogr�fica,1250,4.274500,-75.148417,San Luis (Tolima),R�o Luisa y otros directos al Magdalena,75.630000,80.320000,135.115000,218.965000,145.965000,75.833333,42.280952,40.761905,94.161905,159.185714,117.414286,84.400000
45,21185090,NATAIMA - AUT [21185090],Agrometeorol�gica,393,4.188139,-74.960472,Espinal,R�o Luisa y otros directos al Magdalena,36.445000,26.900000,89.805000,110.825000,111.400000,51.119048,38.547619,22.804762,75.061905,84.876190,66.904762,49.780000
46,21180040,ROVIRA 2 [21180040],Pluviom�trica,848,4.242500,-75.242500,Rovira,R�o Luisa y otros directos al Magdalena,107.050000,109.650000,176.050000,239.800000,223.000000,107.857143,57.904762,70.380952,130.142857,200.904762,221.476191,139.350000
47,4,referencia_4,NaN,0,5.408000,-74.440000,NaN,NaN,47.022919,58.129577,84.584635,126.414597,124.650192,57.843534,41.781050,54.988220,88.449552,122.005762,93.776440,59.505506
48,2,referencia_2,NaN,0,5.408000,-76.154000,NaN,NaN,52.545423,64.209742,93.551995,119.169484,117.890141,67.307981,51.004225,55.212793,88.451995,113.467840,98.891901,65.552934

In [126]:
df_precip_sup_info = df_precip_sup_info[['CODIGO','altitud','longitud','latitud']]

# convert column "CODIGO" to index
df_precip_sup_info.set_index('CODIGO', inplace=True)
df_precip_sup_info

          altitud   longitud   latitud
CODIGO
21215190     2530 -75.500361  4.435667
21215180     1323 -75.248667  4.418389
21215160     1946 -75.243861  4.470361
21250460      430 -74.917750  4.663806
21245040      943 -75.139417  4.424139
21245010      826 -75.200522  4.429667
21215080      432 -74.995361  4.231528
22050100      330 -75.096944  4.656556
23025040      788 -74.902639  5.285697
23010080     2508 -74.749583  5.201417
23010020     1670 -75.048917  5.158389
21250450      389 -74.882472  5.053028
21255120      269 -75.117611  5.016853
21255090      321 -74.899992  5.000000
21255080     1139 -74.767944  4.783750
21250480     3371 -75.220194  4.906611
21250170     3740 -75.252778  4.903889
21250050     3150 -75.250000  4.850000
21255170      323 -75.173278  4.870556
21255140      429 -74.920639  4.821500
21210260     2500 -75.383333  4.633333
21210240     1174 -75.220556  4.421028
21210230     1176 -75.207750  4.429722
21210220     2200 -75.325667  4.580111
21210200      728 -75.073444  4.335139
21210180     1991 -75.409833  4.519500
21210170     2212 -75.401333  4.331889
21210150     3280 -75.542333  4.284389
21210140      388 -75.496861  4.383750
21210130      295 -75.511750  4.380333
21210120     1965 -75.239417  4.490917
21210110     2170 -75.277889  4.520944
21210080     1482 -75.289944  4.494278
21210030     1602 -75.300833  4.511056
21210020     1765 -75.321639  4.556306
21250500     1649 -75.075861  4.921889
21250100      331 -74.898694  4.761833
21250070      472 -74.935694  4.800111
21240110     2670 -75.138917  4.735611
21255110     2817 -75.131833  4.701750
21240070     1814 -75.090000  4.637500
21240030     1980 -75.075389  4.542444
21220050      680 -75.053056  4.353444
22075050     3394 -75.700833  4.075806
21210190     1250 -75.148417  4.274500
21185090      393 -74.960472  4.188139
21180040      848 -75.242500  4.242500
4               0 -74.440000  5.408000
2               0 -76.154000  5.408000

In [127]:
# Leave only the stations of interest
# Convert string to int = list(map(int, columnas[1:]))
df_precip_sup_info = df_precip_sup_info.loc[list(map(int, columnas[1:]))]
df_precip_sup_info

          altitud   longitud   latitud
CODIGO
21210150     3280 -75.542333  4.284389
21215160     1946 -75.243861  4.470361
21210130      295 -75.511750  4.380333

In [86]:
# start date
date = df_precip_sup['fecha'][0]
# Transform to format need for txt file
from datetime import datetime
shortDate = date.strftime('%d-%m-%Y')
shortDate

'01-01-1950'

In [151]:
# Convert units
df_precip_sup_info_2 = df_precip_sup_info[['latitud','longitud']]*100000
df_precip_sup_info_2 = df_precip_sup_info_2.round(decimals=2)
df_precip_sup_info_2

     latitud    longitud
0  428438.89 -7554233.33
1  447036.11 -7524386.11
2  438033.33 -7551175.00

In [152]:
# reset index
df_precip_sup_info.reset_index(inplace=True)
df_precip_sup_info

   index    CODIGO  altitud   longitud   latitud
0      0  21210150     3280 -75.542333  4.284389
1      1  21215160     1946 -75.243861  4.470361
2      2  21210130      295 -75.511750  4.380333

# Text file
The next steps are extracted from [here](https://www.guru99.com/reading-and-writing-files-in-python.html#1) and applied to the program needs

1. Create the text file in Python

In [162]:
Tetis_file = open("Tetis_file.txt","w+")

2. Enter data into the file

In [163]:
Tetis_file.write("G               "+str(len(df_precip_sup))+"         1440\n")
Tetis_file.write("*         dd-mm-aaaa  hh:mm\n")
Tetis_file.write("F           "+shortDate+"      00:00\n")

34

In [164]:
for i in df_precip_sup_info.index.values:
    Tetis_file.write(letra+'         "'+str(df_precip_sup_info['CODIGO'].iloc[i])    +'" '+str(df_precip_sup_info_2['latitud'].iloc[i])+' '+str(df_precip_sup_info_2['longitud'].iloc[i])+'      '+str(df_precip_sup_info['altitud'].iloc[i])+'\n')

3. Close the file instance

In [165]:
Tetis_file.close()

## How to Append to a File in Python

**Step 1)**

In [ ]:
f=open("Tetis_file.txt", "a+")

**Step 2)** This will write data into the file in append mode.

In [ ]:
for i in range(2):
     f.write("Appended line %d\r\n" % (i+1))